<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
<form (ngSubmit)="onLoginSubmit()">
<ion-list lines="none" class="ion-no-margin ion-no-padding">
<ion-item>
<ion-label position="stacked">Username</ion-label>
<br/>
<ion-input
 required
type="text"
[(ngModel)]="username"
name="username"
placeholder="ID"></ion-input>
</ion-item>
<ion-item>
<ion-label position="stacked">Password</ion-label>
<br/>
<ion-input required
 type="password"
  [(ngModel)]="password" 
  name="password" 
  placeholder="password"></ion-input>
  </ion-item>
  <div class="ion-padding">
  <ion-button expand="block" type="submit" class="ion-no-margin">Login </ion-button>
  </div>
  </ion-list>
  </form>
  </ion-content>
