<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
<form (ngSubmit)="onRegisterSubmit()">
<ion-list class="ion-no-margin ion-no-padding">
<ion-item lines="none">
<ion-label position="stacked">Name</ion-label>
<br/>
<ion-input required 
type="text"
[(ngModel)]="name"
name="name"
placeholder="Your name"
></ion-input>
</ion-item>
<ion-item lines="none">

<ion-label position="stacked">Email</ion-label>
<br/>
<ion-input required 
type="text"
[(ngModel)]="email"
name="email"
placeholder="Your Email"></ion-input>
</ion-item>

<ion-item lines="none">
<ion-label position="stacked">Username</ion-label>
<br/>
<ion-input required 
type="text"
[(ngModel)]="username"
name="username"
placeholder="Your username"></ion-input>
</ion-item>

<ion-item lines="none">
<ion-label position="stacked">Password</ion-label>
<br/>
<ion-input required 
type="password"
[(ngModel)]="password"
name="password"
placeholder="Your Password"></ion-input>
</ion-item>

<div class="ion-padding">
<ion-button expand="block" type="submit" class="ion-no-margin">Register </ion-button>

</div>
</ion-list>
</form>

</ion-content>
